{define title}Mark Twain{/define}
{define title2}{/define}
{define description}Mark Twain{/define}

{block content}
    <ul class="list-unstyled">
        <li>Bůh stvořil člověka, protože ho opice zklamaly.</li>
        <li>Pak už na jákékoli experimenty rezignoval.</li>
    </ul>
{/block}

