{extends $originalTemplate}

{define col-manipulate}
    <a href="{plink :User:Edit $item->user_id}" tabindex="-1"
       title="Editovat uživatele"
       data-toggle="tooltip"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a href="javascript:void(0)" tabindex="-1"
       class="deleteUser"
       title="Smazat uživatele"
       data-toggle="tooltip"><i class="fa fa-trash"></i></a>
{/define}
