{extends $originalTemplate}

{define col-manipulate}
    <a href="javascript:void(0)" tabindex="-1"
       title="Editovat adresu uživatele"
       class="editUserAddress"
       data-toggle="tooltip"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a href="javascript:void(0)" tabindex="-1"
       title="Smazat adresu uživatele"
       class="deleteUserAddress"
       data-toggle="tooltip"><i class="fa fa-trash"></i></a>
{/define}
